{% extends "_base_vue.html" %}

{% block title %}About Us{% endblock %}
{% block header %}About Us{% endblock %}
<!-- Link to Style Sheets-->
<link rel="stylesheet" href="static/css/about.css">
{% block main %}
  <section id="page-info">
    <header id="page-header" class="text-center">
      <h2>About Us</h2>
      <img src="./static/images/LoveLearning1.jpeg" alt="book with heart and love to learn">
      <p>Play2Learn is a company of philomaths, which means lovers of learning.  
          At Play2Learn we love learning and creating games that make it enjoyable for others to learn.</p>
    </header>
  <section id="employees">

    <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img 
                src="./static/images/Saraswati.jpeg"
                alt="image of Saraswati"
                class="img-fluid float-start" 
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Saraswati - President</h5>
              <p class="card-text">
                Saraswati is the goddess of intellect, wisdom and learning.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img 
                src="./static/images/Hephaestus.jpeg"
                alt="image of Hephaestus"
                class="img-fluid float-start" 
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Hephaestus - Game Designer</h5>
              <p class="card-text">
                Hephaestus is the God of Design & Creativity.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img 
                src="./static/images/Athena1.jpg"
                alt="image of Athena"
                class="img-fluid float-start" 
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Athena - Graphic Artist</h5>
              <p class="card-text">
                Athena is goddess of arts and crafts in greek methodology, She is the patronesses of all art forms.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img 
                src="./static/images/Seshat.jpeg"
                alt="image of Seshat"
                class="img-fluid float-start" 
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Seshat - Writer</h5>
              <p class="card-text">
                Seshat, whose name means “female scribe,” is the goddess of writing and record keeping.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img 
                src="./static/images/Pistis.jpeg"
                alt="image of Pistis"
                class="img-fluid float-start" 
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pistis - Quality Assurance Specialist</h5>
              <p class="card-text">
                Pistis is the god of faith, trust and reliability.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- The br creates a little space after the last div that is the same color as the body-->
      <br>
  </section> <!-- End Page-->
{% endblock %}