<!-- Play2Learn
  by: Karen DiCampo 
  8/21/2024
-->

<!-- https://html.spec.whatwg.org/multipage/syntax.html#the-doctype  
  and https://www.w3schools.com/tags/tag_doctype.asp
  show the keyword DOCTYPE in uppercase -->
<!DOCTYPE html>
<!--  specify the language this file is written in and text flow-->
<html lang="en-us" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <!-- Wraps lines to the width of the device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--This is the title that shows on  the browser tab -->
    <link rel="icon" href="<%= BASE_URL %>/static/dist/js/favicon.ico">
    <title>P2L Home</title>
</head>
<body>
<p>Hello, Django!</p>
</body>
</html>