/* COLOR PALLET

dkpurple:   #5603AD
mdpurple:   #8367C7
grey:       #9BA8C7
mdgreen:    #B3E9C7
ltgreen:    #C2F8CB rgb(194, 248, 203)

*/

body
{
    background-color: #C2F8CB;
    color:#5603AD;
}
nav,
#site-nav,
.navbar-brand a,
.nav-item a,
.dropdown-item,
#site-header a
{
    background-color: #5603AD;
    color: #C2F8CB;
}
/* Set the border color */
.custom-toggler.navbar-toggler {
    border-color: #C2F8CB;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(194, 248, 203)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#navbar-content
{
    justify-content: right;
}
.dropdown-menu
{
    /*align-content: right;*/
}
#footer{
    background-color: #5603AD;
    color: #C2F8CB;    
}
.change-my-color {
    fill: #C2F8CB;
  }