/* COLOR PALLET

dkpurple:   #5603AD
mdpurple:   #8367C7
grey:       #9BA8C7
mdgreen:    #B3E9C7
ltgreen:    #C2F8CB
*/

header,
footer,
.navbar-brand,
.nav-item a
{
    background-color: #5603AD;
    color:#C2F8CB;

}

body
{
    background-color: #C2F8CB;
    color: #5603AD;
}

/* Set the border color navbar-toggler-border-color*/
button.navbar-toggler 
{
    border-color: #C2F8CB;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
/*
.navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(194, 248, 203)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
*/
#navbar-content
{
    justify-content: right;
}
